[2018-03-21 07:20] person2713 commented on #236
Catull thanks much for you help. I resolved problem.

[2018-03-21 07:24] person2713 commented on #236
Catull, do you know liblary angular2-json schema support condition or not?

[2018-03-21 07:51] neil-coutinho opened #240 "Update form layout title on lang translate change"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[x ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)

[2018-03-21 10:10] person2713 opened #241 "Can I update UI form from component?"
I have next schema and form:
[code]

Parent component:
(html markup)
[code]

Method of parent component that fires when change form:
[code]

Child component:
[code]
(html markup):
[code]

I try update form from parent component. I want pass some value in model.Objects[].object.objectName when get changes in model.Objects[arrayIndex].object.objectId.  It's possible?

[2018-03-21 10:15] catull commented on #236
Not sure it does, I have not used it yet.

[2018-03-21 10:48] person2713 commented on #236
I check this. It works well.

[2018-03-21 10:48] #236 closed, assigned to nobody

[2018-03-21 10:50] Alex130 commented on #238
Hi, can you give more information?

[2018-03-21 11:16] #241 closed, assigned to nobody

[2018-03-21 11:19] #229 closed, assigned to nobody

[2018-03-21 11:44] person2713 opened #242 "Condition for nested array work?"
I read https://github.com/json-schema-form/angular-schema-form/pull/742 and try use in angular2-schema-form. But it does't work.
Example:
[code]
There are any ideas?

[2018-03-22 13:10] person2713 opened #243 "onChange support for input field?"
I saw this: https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#onchange.
Will it be supported in this library?

[2018-03-22 13:32] RobArbor opened #244 "Feature request: Framework support Clarity"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[x] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x

[2018-03-23 10:56] RobArbor commented on #189
@viktor25 getting the following error when using your solution:

```widget type "string" not found in library. Replacing with "text".```
btw i'm using the Bootstrap4 framework.

looks like the ```WidgetLibraryService``` isn't loaded correctly.

[2018-03-23 11:50] RobArbor commented on #189
:sweat_smile: my bad was using ```useClass: Bootstrap4FrameworkModule```, should have used ```useClass: Bootstrap4Framework``` the workaround now works for me.

[2018-03-23 13:48] sasos90 commented on #189
@RobArbor, But it still doesn't solve the production build issue right?

[2018-03-23 14:40] RobArbor commented on #189
@sasos90  The workaround also fixed my production build.

[2018-03-23 14:43] RobArbor commented on #189
i'm using angular version 5.2.0
and Angular cli version 1.6.4

[2018-03-23 14:54] RobArbor commented on #244
I'm currently using the bootstrap framework 4  module because clarity is based on bootstrap.
With some simple css tweaks i can make it workable.

But they have plans to change it in the future see:
https://github.com/vmware/clarity/issues/1531

[2018-03-23 16:44] stalsma commented on #189
I'm posting my code here as an example that implements the fix.  I have a dedicated module that wraps this module, so that I can share it across other feature modules.   Note that I'm using bootstrap instead of Material.

Running Angular CLI: 1.6.6, Angular 5.2

[code]

[2018-03-26 06:01] vatsalpande commented on #204
Any update on this issue? Facing the same

[2018-03-26 10:39] Koslun commented on #204
@vatsalpande fixed in PR #230

[2018-03-26 15:28] person2713 commented on #133
Can I collapse or expande all form that was generated by library? Or may be it is possible expande and collapse object?

[2018-03-27 07:17] person2713 opened #245 "How to render Collapsible/Expandable sections for objects"
It's possible collapsible/expandable sections for objects use angular2-json-schema-form?
Example:
[code]

I will appreciate for your suggestions.

[2018-03-28 15:13] catull opened #246 "How to reset form values ?"
## Issue type
I'm submitting a (check one):
[X] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x] Search GitHub for a similar issue or PR
[x] If submitting a Support request, also search [Stack Overflow][stack-overflow] for similar issu

[2018-03-28 15:48] stalsma commented on #245
This should be working out of the box.  You might be missing the _type_ property.  Here is a snippet from one of my forms.  Note that I'm using the bootstrap-4 module.

[code]

[2018-03-29 06:07] person2713 commented on #245
Does it possible collapse (expand) sub-object with complex structure? Or I can only collapse and expand objects with primitive types?

[2018-03-29 07:23] catull commented on #245
The keyword above is `"type": "section"`.

A section translates to a `<div>` container, so the collapsing/expanding applies to the entire `<div>` container.

So, it is up to you how much you pack into that `<div>` container.

In other words, yes, it is possible to collapse/expand larger portions of your form, not just single items such as input fields.

[2018-03-29 10:35] varshildoshi commented on #227
hi Alex130
i want to help from you..
i want to create Drag & Drop in angular 4 using typescript,but some problem occures..
when i drop any text view generate text view in dropzone..it is using angular material..
if you know about that plz tell me..i am use jquery for drag & drop with angular material..so plz help me..

[2018-03-30 09:01] person2713 commented on #245
Catull thanks for your explanation. Can you give me links to docs where you find that information? Or may be you answer on my question? There is way don't describe inner structure of complex sub-object (for example when we use '*' in layout we don't need describe structure).

[2018-03-30 09:16] person2713 opened #247 "Get error when add layout to form?"
I try add layout to existed json-schema-from. When I do that, a get following error:
![image](https://user-images.githubusercontent.com/23407273/38132445-c5893bb2-3413-11e8-9fc9-c4aedc753772.png)
![image](https://user-images.githubusercontent.com/23407273/38132475-e250d976-3413-11e8-966f-86d019b0b851.png)
![image](https://user-images.githubusercontent.com/23407273/38132504-fff83500-3413-11e8-84f6-

[2018-04-02 09:11] subratastack opened #248 "Need Multiple condition check"
## Issue type
[code]
## Current behavior
[code]

## Expected behavior
[code]

How can I use multiple condiiton?

[2018-04-02 14:57] ClaudeStephan commented on #189
I'm having the same issue, I used the above workaround and now my form won't display at all.
If I switch back to _JsonSchemaFormModule.forRoot(Bootstrap4FrameworkModule)_ it works but then I'm getting the same error on AOT compilation.
Any ideas? I'm in a pickle here.

[2018-04-03 10:24] catchshyam commented on #204
Any ETA on the release that includes PR #230 ?

[2018-04-04 11:08] person2713 opened #249 "Can I create json schema that would be include array consist of different object types?"
I want to use json schema for rendering, but I have json that contain array from different object types (object structure). It is possible create schema for such array?
I am trying to do something like this:
![image](https://user-images.githubusercontent.com/23407273/38305548-e680d568-3815-11e8-8514-73d1215f4f58.png)
and
![image](https://user-images.githubusercontent.com/23407273/38305596-11a2385e

[2018-04-04 12:09] person2713 opened #250 "'section' work with angular 4?"
Example:
[code]
It seems that it's doesn't work.

[2018-04-04 15:27] person2713 opened #251 "Support for oneOf and allOf"
It's would be wonderful if this library will support oneOf and allOf.

[2018-04-05 05:50] SureshNatarajan opened #252 "Property with numbers in JSON schema does not get displayed in the html as labels"
## Issue type
I'm submitting a (check one):
[X] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2018-04-05 06:33] RichardMViGEM opened #253 "non-default HTML content in "helpvalue" / using TemplateComponent"
Just a quick question: Is it possible to have non-standard HTML tags displayed in "helpvalue" (or any other Layout-field for that matter)?
For example, selector-tags for ng-components would be absolutely amazing.

[code]

Thank you so much for your awesome project btw!

**Update 1 - April 10 2018:**
Turns out the [angular DomSanitizer](https://angular.io/api/platform-browser/DomSanitizer) strips c

[2018-04-05 10:09] catull commented on #252
Have you considered this, perhaps?

[code]

Works fine.

[2018-04-05 11:12] harishrajanna opened #254 "harishcs19@gmail.com"
## Syntax Error
Syntax Error
Expected ')'
File: vendor.bundle.js, Line: 4445, Column: 11

## Prerequisites
followed instruction as per your read me .. but it failing in first place only

## Current behavior
Not Able use your code

[2018-04-05 12:29] catull commented on #254
How about you give us more context ?
Do you think we can help you with so little information ?

It is obvious that whatever you are doing, you most likely are not using the correct syntax.

[2018-04-05 13:23] RichardMViGEM opened #255 "bootstrap 4 grid layout does not work"
## Issue type
I'm submitting a (check one):
[x] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[x] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x

[2018-04-05 16:18] SimoneMSR opened #256 "Array showing only first item (but not in the playground)"
## Issue type
I'm submitting a (check one):
[x] Bug report

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x] Search GitHub for a similar issue or PR
[x] If submitting a Support request, also search [Stack Overflow][stack-overflow] for similar issues
Note: Please cros

[2018-04-06 02:25] meikeric opened #257 "Check if previous ngOnChanges has actually changed"
## Issue type
I'm submitting a (check one):
[X ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ X] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)

[2018-04-06 02:29] meikeric opened #258 "Default resetFirst param on setFormValues to false."
## Issue type
I'm submitting a (check one):
[ ] Bug report
[X] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ X] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2018-04-06 02:34] meikeric commented on #243
It's already supported, you need to provide a callback in your component that uses json-schema-form.
Example
` <json-schema-form
    framework="bootstrap-4"
    loadExternalAssets="true"
    [schema]="schema"
    [layout]="layout"
    [(data)]="model"
    (onChanges)="onChanges($event)"
    (onSubmit)="onSubmit($event)"
    (isValid)="isValid($event)"
    (validationErrors)="validationErrors($even

[2018-04-06 03:53] subratastack commented on #238
@Alex130 Could you please refer to the demo site available in the readme any try.

[2018-04-06 03:53] subratastack commented on #222
Any update on this issue?

[2018-04-06 03:59] SureshNatarajan commented on #252
Thanks for the suggestion @catull .
Suggested one doesn't work. Label "1" is not displaying.

[2018-04-06 09:09] catull commented on #252
Perhaps this does the trick ?

[code]

[2018-04-06 09:14] catull commented on #238
@subratawebops
At least have the curtesy and describe what you tried.
Also, it would be very helpful if you provide a snippet or a link.
The more you give, the better you can be assisted with.

What exactly do you mean by "refer to the demo site available in the readme" ?
What does that even mean ?

[2018-04-06 14:17] blacksnow88 commented on #199
I am having the exact issue, as for my project we don't use or require Angular Material, only bootstrap4. It seems like this hard dependency was added on 0.7.0-alpha.1

[2018-04-06 14:24] blacksnow88 commented on #67
Any Update would really...really be helpful, we need the separation from Material as in yesterday.

[2018-04-06 14:38] jroboyd commented on #67
@blacksnow88  https://github.com/boydy12/angular2-json-schema-form-core

[2018-04-06 19:23] n3f opened #260 "Running angular 4..."
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[X] Regression (something that used to work, but stopped working in a newer version)
[X] Support request
[X] Documentation issue or request

So, my project is stuck on angular 4. I've been able to get the 0.5.0-alpha.16 version to work, but I've been unsuccessful with any of the later versions.  Is there any sort of way

[2018-04-07 03:28] subratastack commented on #238
@catull So sorry man, that was not my intention, may be I did that in hurry. I will send you the code snippets.

[2018-04-09 07:56] subratastack opened #261 "Get key data from other schema data"
## Issue type
I need to update the key value of one schema from another schema.

## Example Code
[code]

Now I want to update my_name when the name is entered.

[2018-04-09 08:59] c-martinez commented on #162
Was having the same issue, worked after installing a few more dependencies:
[code]
Does this solve the issue for you?

[2018-04-09 13:18] aminechir opened #262 "Error schema should be object or boolean"
## Issue type
I'm submitting a (check one):
[X] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Current behavior

I have a project using angular + webpack 3 + electron and I installed angular2-json-schema-form.

I put in the html :

`<json-schema-form
loadExternalAssets="t

[2018-04-10 06:12] subratastack opened #263 "Why is this git so unresponsive?"
I'm posting many issues but the contributors hardly reply. Disappointed with such a nice git.

[2018-04-10 06:59] #247 closed, assigned to nobody

[2018-04-10 07:21] person2713 opened #264 "Can not collapse."
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2018-04-10 12:26] person2713 opened #265 "How can I check value in checkbox, that was added through layout?"
I added layout to component:
`public layout = [
    '*',
    {
      type: 'checkbox',
      title: 'Include scenario?'
    }
  ];`
Then I want to check value in checkbox with title 'Include scenario?'. How can I do this?

[2018-04-11 05:43] ramm24 commented on #248
You could use a function
[code]

[2018-04-11 15:15] person2713 opened #266 "Can I control the order of output of the fields of the schema?"
Can I control the order of output of the schema fields without knowing the whole scheme? I mean something, like that:
[code]
But without duplicate fields.

[2018-04-11 20:01] subratastack commented on #238
@Alex130  @catull https://angular2-json-schema-form.firebaseapp.com/?set=jsf&example=jsf-fields-autocomplete&framework=material-design&language=en
This is the one I was talking about.

[2018-04-12 06:39] catull commented on #266
@person2713

No, you cannot control the sequence of the fields without knowing them.

In fact, your "form" definition above is likely interpreted as:

[code]

Thus, you get the duplication.

If you want a specific order of properties, your "schema" must reflect this order.
Once you have that, you can use a simple

[code]

or even leave out the "form" entirely.

Remember, this "short-cut" creates o

[2018-04-12 11:57] SureshNatarajan commented on #252
Thanks @catull. I think the workaround as of now is to add "title" with the numeric character. With this workaround I am able to see the label.

**Example Schema:**
{
    "schema": {
        "type": "object",
        "properties": {
            "1": {
                "title": "1",
                "type": "string",
                "format": "uri"
            }
        }
    }
}

[2018-04-16 06:20] person2713 commented on #266
Thanks.

[2018-04-16 09:50] RichardMViGEM commented on #253
**Partly resolved**

Looks like I didn't read [Changing or adding widgets](https://github.com/dschnelldavis/angular2-json-schema-form#changing-or-adding-widgets) thoroughly enough, shame on me. Turns out that, for my main issue, the solution is already there. I simply didn't use the [widgetLibrary](https://github.com/dschnelldavis/angular2-json-schema-form/blob/061584a6e39a95e9ed3f1fbf14ce0f08f85b

[2018-04-16 10:48] #266 closed, assigned to nobody

[2018-04-16 10:56] subratastack commented on #238
@Alex130 Could you please look into this issue.

[2018-04-16 10:56] person2713 opened #267 "Can I mark angular2-schema-form?"
For example I have next html:
[code]

I wonder is there way mark json-schema and then get her with id in component? As see from code that I posted above, I have several `<app-schema-form></app-schema-form>` and I need get selected of them in component (with data and schema), but I don't have any idea. I read about FormGroup and ViewChildren, but I don't know how to distinguish `<app-schema-form></

[2018-04-16 17:23] shamoons commented on #37
I'm having the issue now

[2018-04-17 06:04] jasminecjc commented on #43
Have you fixed this problem?

[2018-04-17 06:42] jasminecjc opened #268 "cascader support"
I have two select buttons after choosing the first, the second has the different value, I tried to set the schema option in onChanges but it didn't work, is there any solution?

[2018-04-17 08:44] #253 closed, assigned to nobody

[2018-04-17 09:17] qwe852147 commented on #43
I change the following code (input) to (keydown) with custom widget
https://github.com/dschnelldavis/angular2-json-schema-form/blob/1a5bfee8744666d8504369ec9e6dfeb1c27f8ce1/src/lib/src/widget-library/input.component.ts#L44

[2018-04-17 13:24] shamoons opened #269 "How can I specify a layout without overriding default validation messages?"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[x] Support request
[x] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x

[2018-04-17 18:48] Thorski commented on #265
I don't know, but I also would like to do this and have it do my action when clicked.
I actually would like to make elements in the form readonly unless a checkbox is clicked.

[2018-04-17 19:32] Thorski opened #270 "Calling function in component from event handler fails."
## Issue type
I'm submitting a (check one):
[x] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[x] Support request
[ ] Documentation issue or request

This works:

{
    "type": "button",
    "title": "Click me",
    "onClick": function (evt) {
      evt.preventDefault();
      alert('Thank you!');
    }
}

but I don't know how t

[2018-04-18 05:56] sumit2201 commented on #93
I found this library pretty useful, but I stuck on the same requirement to have multiple buttons. Is there any way so that  I create them myself outside the form schema and upon clicking them forms gets submit and all the validation for the fields get applied?

[2018-04-19 08:44] jasminecjc commented on #43
Do you have any code example of how to create custom widget?

[2018-04-19 09:51] qwe852147 commented on #43
You can see https://github.com/dschnelldavis/angular2-json-schema-form/issues/21 to try

[2018-04-19 10:26] RichardMViGEM commented on #37
I ran into this issue as well and it's been giving me a headache for more than a week now.
I was finally able to resolve it by importing `NoFrameworkModule` in the main module of my application, which now looks like this:

[code]

I may dig a bit deeper into this and provide some more details if I find the time. But, for now, I just hope this does the trick for someone else.

[2018-04-20 08:29] RichardMViGEM commented on #37
I ran into this issue as well, spent an embarrassingly lot of time on it.. Anyway, here's what resolved it for me:

Say you want to use `myFormData` in your `json-shema-form`, like this:
[code]

And you get the content of `myFormData` from anywhere but "inline definition", like an external .json file for example If it looks something like this:
[code]

in your angular component, `myFormData` shoul

[2018-04-23 08:56] Theyssen commented on #204
Does anyone have a solution in anticipation of the pull request?

[2018-04-23 11:25] rmayuri commented on #189
@Koslun , Hi I downgraded to angular2-json-schema-form@0.6.0-alpha.7 then I am facing the below issue,
ERROR in Error during template compile of 'AppModule'
  Function calls are not supported in decorators but 'JsonSchemaFormModule' was called.
src/app/app.module.ts(79,25): error TS2339: Property 'forRoot' does not exist on type 'typeof JsonSchemaFormModule'.

or else if I upgrade it to  angular2-

[2018-04-23 13:08] subratastack opened #271 "How to add a custom class?"
I have a condition on my layout

[code]

Now I want to add a custom class to ```other_explain``` key.

[2018-04-23 14:23] RichardMViGEM commented on #255
I hate to do a shameful self-bump like this.. But I mean I can't be the only one who noticed this problem, right?
Or am I just being super non-miticulous and missing something very obvious?
Any sort of help is greatly appreciated.

[2018-04-23 14:35] RichardMViGEM commented on #271
What exactly are you trying to achieve? Do you want the `textarea` widget to have a custom HTML class? Something like this? `<textarea class="yourCustomClass">...</textarea>` ?

I'm not an expert user of this plugin but afaik, that's not possible. You could try using the `form` array in the json-definition of your form, wrap a "parent" `section` element around your `other_explain`, assign `yourCus

[2018-04-23 14:38] subratastack commented on #271
@RichardMViGEM `<textarea class="yourCustomClass">...</textarea>` This is what I want to acheive.

[2018-04-23 17:51] Koslun commented on #204
@Theyssen Using a forked version of this repo containing the above PR. Steps to do so are described in above PR: https://github.com/dschnelldavis/angular2-json-schema-form/pull/230#issuecomment-383591628

[2018-04-23 17:58] Koslun commented on #189
@rmayuri a work-around is described in this PR: https://github.com/dschnelldavis/angular2-json-schema-form/pull/230#issuecomment-383591628. I haven't tried it myself but seems legit.

If you want to use version 0.6.0-alpha.7 you need to avoid using the `forRoot()` function when importing the modules. So to use no external libraries for instance:
[code]

[2018-04-24 14:37] rmayuri opened #272 "<json-schema-form> is not showing the form in the browser when I tried to add angular2-json-schema-form framework in our existing application"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2018-04-24 18:26] catull commented on #272
@rmayuri Did you come back a read the issue ?
Can't help you if you do not use proper Github Markup for the snippets you wrote.
Clean up the snippets, it helps everyone.
It is too much of a guesswork otherwise.

[2018-04-24 19:07] Thorski commented on #272
You need to do more in your app.module.ts than shown.

You need to add it to the imports with a framework such as:

 imports: [ JsonSchemaFormModule.forRoot(Bootstrap4FrameworkModule) ]

On Tue, Apr 24, 2018 at 2:27 PM, catull <notifications@github.com> wrote:

[2018-04-25 09:43] rmayuri commented on #173
@imfeng and @VirusDEAD
could you pls provide any example to add custom css

[2018-04-25 09:46] rmayuri commented on #189
@Koslun ,

I have made the changes like you suggested, could you please provide any example of adding custom css for each form fields as we are not using any framework.

thanks in advance

[2018-04-25 13:25] jscharett commented on #263
@dschnelldavis Are you still maintaining this repo?  There is a growing list of users who are actively adding issues/PR's but not seeing any movement on them.  If your no longer maintaining this, can we see about transfering ownserhip?  Maybe see if the @json-schema-form group is interested in taking it?

[2018-04-25 14:43] rmayuri commented on #271
@subratawebops
have you got the solution

[2018-04-25 17:04] subratastack commented on #271
@rmayuri try this

[code]

I haven't tried this yet but this from a old issues I posted here.

[2018-04-25 17:07] catull commented on #271
Have you tried this:
[code]
?

[2018-04-25 17:09] Koslun commented on #189
@rmayuri we are not currently making an custom css for each form field generated by this library.

We are rather just waiting to go back to using the material framework as that matches the rest of our app well.

[2018-04-26 11:52] rmayuri opened #273 "ERROR in Error during template compile of 'AppModule' Function calls are not supported in decorators but 'JsonSchemaFormModule' was called."
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2018-04-26 12:45] Thorski commented on #273
Yes, this is because of the way forRoot is implemented.

I work around this by the following in my imports instead of the suggested:

...
    Bootstrap4FrameworkModule.forRoot(),
    {
      ngModule: JsonSchemaFormModule,
      providers: [
        JsonSchemaFormService, FrameworkLibraryService,
WidgetLibraryService,
      ]
    }
...

See
https://github.com/angular/angular/issues/14707

On Thu,

[2018-04-26 13:49] rmayuri commented on #236
@person2713 and @catull
I am using bootstrap4module framework, the form is getting loaded but I am not able to read the form values,
could you please any example to read the values and applying css.
below are my fiels for your reference,

login.component.ts
---------------------
import { Component } from '@angular/core';
@Component({
	   selector: 'app-login',
	   templateUrl: './login.component.h

[2018-04-26 14:28] rmayuri commented on #205
@neil-coutinho
HI,
I am using bootstrap4module framework, the form is getting loaded but I am not able to read the form values,
could you please provide any example to read the values and applying css.
below are my fiels for your reference,

login.component.ts
import { Component } from '';
@component({
selector: 'app-login',
templateUrl: './login.component.html',
styleUrls: ['./login.component.css

[2018-04-26 18:37] person2713 commented on #236
rmayuri, can you send console output from google chrome?

[2018-04-26 18:40] person2713 commented on #236
And where declaration of the mylayout?

[2018-04-26 18:47] person2713 commented on #236
above there are examples how you have to write html code. For your example it will be like this:
[code]
But I didn't see declaration of the "mylayout". First verify your schema, data and layout in playground.

[2018-04-27 06:46] rmayuri commented on #236
@person2713 and @catull

the console output is null,

below are the files,

**login.component.ts**
---------------------

import { Component } from '@angular/core';
@Component({
	   selector: 'app-login',
	   templateUrl: './login.component.html',
	   styleUrls: ['./login.component.css']
	 })

export class LoginComponent {
  title = 'Optum Navigator';
  mySchema = {
    "properties": {
      "msid

[2018-04-27 09:31] DhiaEddineSaidi opened #274 "Button close does not exist in the NoFramework Component"
## Issue type
I'm submitting a (check one):
[x] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x

[2018-04-27 23:45] rhalff commented on #273
This seems to be the correct way of doing it:

[code]

Note: Example is for when you use both frameworks, otherwise just select one.

Also note you **must** export the const otherwise you will still get the same error.

The suggested solution was taken from: https://github.com/ngxs/store/blob/master/packages/router-plugin/src/router.module.ts

[2018-05-06 23:48] Koslun commented on #164
@tmburnell

I'm guessing then that the inputs aren't surrounded by `<mat-form-field>` tags. Ditching them removes the float effect, instead simply disappearing once text is entered.

As the placeholder just stays even after inputs are triggered I think this indeed is the underlying issue. Though point 1 might help too.

I haven't really inspected the code properly so I don't either know why this i

[2018-05-07 13:19] mthippani opened #276 "Radio buttons can able to modify when the buttons are in disabled/readonly mode"
## Issue type
I'm submitting a (check one):
[x] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[X] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2018-05-08 13:21] rmayuri opened #277 "facing issue in adding new widget for file upload"
## Issue type
I'm submitting a (check one):
[ ] Documentation issue or request

## Current behavior
I am trying to add widget for file upload, I follwoed the documentation and added the below files but the newly added widget is not being shown in browser, Please provide any inputs to work it proper
the files are below

**attach.component.ts**

import { Component, Input, OnInit } from '@angular/cor

[2018-05-08 13:28] rmayuri commented on #273
@Thorski

Thanks for your response, I am facing below issue now, it would be helpful if you could provide any inputs on this,

I am trying to add widget for file upload, I followed the documentation to add new widget and added the below files but the newly added widget is not being shown in browser, Please provide any inputs to work it proper
the files are below

attach.component.ts

import { Comp

[2018-05-08 13:36] rmayuri commented on #189
@Koslun

Thanks for your response, I am facing below issue now, it would be helpful if you could provide any inputs on this,

I am trying to add widget for file upload, I followed the documentation to add new widget and added the below files but the newly added widget is not being shown in browser, Please provide any inputs to work it proper
 the files are below

attach.component.ts

import { Comp

[2018-05-08 19:35] glenfant opened #278 "[question] How to report server-side errors to the form layout."
Hi,

This is a question from a noob with angular2. With the help of the (excellent) marshmallow (de) serialization and validation tool for JSON, my server app can report errors that can't be caught by the client logic (unknown account, blacklisted mail address, ...) in an easy parsable way. These look like:

[code]

How could I display these errors beside the relevant fields in the place of client

[2018-05-09 13:50] subratastack commented on #271
This doesn't work at all.

[2018-05-09 13:59] rmayuri commented on #271
@subratawebops

it worked for me, place the css in style.css file

[2018-05-09 14:03] subratastack commented on #271
@rmayuri Could you tell me which css class getting applied among

[code]

[2018-05-09 14:23] subratastack commented on #271
@rmayuri Worked for me after I make the key as object of `item` array. Thanks for you help.

[2018-05-10 10:01] Koslun commented on #189
@rmayuri I haven't looked into using custom controls with this library. From previous experience I wouldn't completely trust the docs though. If there is a similar example in the demos I would dig deeper into the demo source code to verify that it's the same as any other docs that you might be relying on.

Btw, I would suggest wrapping any code example with the code format tag, makes reading it a

[2018-05-11 11:10] nmainardi opened #279 "Template parse errors: Can't bind to 'schema'"
Error: Template parse errors:
Can't bind to 'schema' since it isn't a known property of 'json-schema-form'.
1. If 'json-schema-form' is an Angular component and it has 'schema' input, then verify that it is part of this module.
2. If 'json-schema-form' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.
3. To allow any propert

[2018-05-11 11:35] subratastack opened #280 "Restrict no of characters"
How can I restrict no of characters in an text field? Can we set `maxLength` value

[2018-05-11 12:12] catull commented on #279
Too little information to help you.

Best guess, you are not declaring or importing it properly.

[2018-05-11 12:25] nmainardi commented on #279
Well, I added
[code]
in my app.module and directly in app.component.html
[code]
and in my app.component.ts

[code]

[2018-05-11 12:46] nmainardi commented on #279
Sorry, I don't really know why but now (also if editor is saying me that
[code]
)
it works.
Sorry again and thank you.

[2018-05-11 12:46] #279 closed, assigned to nobody

[2018-05-14 00:15] vatsalpande opened #281 "Identifier 'Ajv' has already been declared while migrating to Angular6"
## Issue type
I'm submitting a (check one):
[x] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x

[2018-05-15 10:54] cipriandrusca commented on #199
Same problem in my case. Did anyone found a solution for it?

[2018-05-15 11:38] catull commented on #199
I have forked the project to [catull/ngx-json-schema](https://github.com/catull/ngx-json-schema).
It comes without support of Material Design, and is upgraded to Angular 6.0.1.

It is on npmjs.com: [ngx-json-schema](https://www.npmjs.com/package/ngx-json-schema).

[2018-05-15 17:38] nmainardi opened #282 "set error: Invalid JSON on returnEmptyFields: true"
Binding on [options] this json:

jsonFormOptions: any = {
    addSubmit: false,
    debug: true,
    loadExternalAssets: true,
    **returnEmptyFields: true,**
    setSchemaDefaults: true,
    defautWidgetOptions: { feedback: true },
  };
I get this error

[code]
OT:
Why not many changes lately? Will this ever be at least in beta?

Thank you for your attention

[2018-05-16 00:32] pdinesh80 commented on #189
@viktor25 I tried the solution you posted in this thread.

I still see AOT issue, here is the error
Error: Metadata version mismatch for module /bld/workspace/**/**/node_modules/angular2-json-schema-form/angular2-json-schema-form.d.ts, found version 4, expected 3
    at StaticSymbolResolver.getModuleMetadata

I'm using a Shared Module and this is the import and export section

[code]

Using the sh

[2018-05-16 00:42] viktor25 commented on #189
@pdinesh80 That sounds unrelated.  Have you seen https://github.com/angular/material2/issues/8229 ?

[2018-05-16 01:01] pdinesh80 commented on #189
@viktor25 Thanks a lot for your quick response and the link you provided. I'll try the latest version of material and cdk. We are Angular 4.4.4 for all core angular modules, not sure I'll have any conflicts. Currently we use
"@angular/cdk": "^2.0.0-beta.11",
"@angular/material": "^2.0.0-beta.12",

Let me try upgrading and comment here. Thanks again.

[2018-05-16 10:58] lucasgranberg commented on #281
I have the same problem. The import seems to stem from https://github.com/dschnelldavis/angular2-json-schema-form/blob/master/build.js#L129. I am not familiar with the build process but I removed it in my fork and it seems to build fine.

[2018-05-17 08:17] cipriandrusca commented on #271
I'm using angular2-json-schema-form as a dependency and I want to apply some custom classes to the fields and I didn't manage to do it. Any ideas please?

[2018-05-17 08:27] rmayuri commented on #271
mylayout = [

 { key: 'msid',
 labelHelpBlockClass: 'col-xs-10',
 fieldHtmlClass:"form-control",
labelHtmlClass: "col-xs-2",

}
]

add style class in style.css file

[2018-05-17 08:49] cipriandrusca commented on #271
I don't know why I need it and where to put it. The idea is that in the past I had a module named "angular-json-form-renderer" (which was a custom angular2-json-schema-form) and there I didn't had styles or something, the custom styles were applied without any "myLayout" . Now, I use directly "angular2-json-schema-form" as a dependency and the styles are not working. I hope you understand the issu

[2018-05-18 04:58] neil-coutinho commented on #281
Any way I can update this w/o modifying the code in my node_modules folder?

[2018-05-19 06:11] jwbeech commented on #255
I've had the same issue problem. Resorted to adding direct flexbox styles to the layout. For example:
[code]

[2018-05-21 13:19] cipriandrusca opened #283 "custom widget not visible"
I added a new custom widget and also include it in the module. The question is - how will know the schema when to display it , for which data type? Should I add something else somewhere? Thankyou.

[2018-05-21 14:31] Thorski commented on #283
You have to register the widget with a name which you then use in the layout, such as for
a TreeSelectWidgetComponent to be used if 'tree-select' is indicated in the layout:
`  import { WidgetLibraryService } from 'angular2-json-schema-form';`
...
[code]
..
then in your layout use
`              "type": "tree-select",`

[2018-05-22 06:21] cipriandrusca commented on #283
Thank you for the answer. The problem is that I don't have a custom layout.To be more clearly: I'm using the angular2-json-form-schema as a dependency in package.json and I want to include my custom widget inside and export all the module (with my widget and all widget from angular2-json-form-schema). To be honest for me it's not clear what  <<then in your layout use "type": "tree-select">> means.

[2018-05-22 09:16] RichardMViGEM commented on #263
My guess is that @dschnelldavis is busy with the newer, ng6-compatible version of this repo, over at
https://github.com/catull/ngx-json-schema

[2018-05-22 14:12] jscharett commented on #263
Thast's just someone else's fork, not a newer version.  I believe @shamoons is going to try and move forward with his fork here https://github.com/shamoons/ng-json-schema-form

[2018-05-22 14:13] shamoons commented on #263
@jscharett that's correct. I'm going to move forward with it at https://github.com/shamoons/ng-json-schema-form

I'm in the process of reviewing existing PR's currently.

[2018-05-22 17:50] catull commented on #263
@RichardMViGEM Nice try.

That repo is a fork, @dschnelldavis has no involvement with [`ngx-json-schema`](https://github.com/catull/ngx-json-schema).
@dschnelldavis has build a good library, I am not taking any credit for it.

[`ngx-json-schema`](https://github.com/catull/ngx-json-schema) is

- `angular2-json-schema-form` rebooted
- "free" of `Angular Material Design` (don't ask for supporting it)

[2018-05-23 06:45] ClaudeStephan commented on #283
I added all my custom widgets into a module:
EX (using the "tree-select" from @Thorski above):
[code]

**Note that you'll have to declare your custom widgets in  "entryComponents".**
Import your custom widget in the component you need it, declare it:
    **customWidgets = {
        'tree-select': TreeSelectWidgetComponent
        'select': TreeSelectWidgetComponent
    };**
Add your custom widgets

[2018-05-23 06:48] rmayuri commented on #248
@ramm24
its not working, could you please provide any more inputs

[2018-05-23 07:04] ramm24 commented on #248
@rmayuri
If you take a look to the source code
https://github.com/dschnelldavis/angular2-json-schema-form/blob/1a5bfee8744666d8504369ec9e6dfeb1c27f8ce1/src/lib/src/json-schema-form.service.ts

On evaluateCondition you have this check
`if (typeof layoutNode.options.condition === 'function') {
        result = layoutNode.options.condition(this.data);
 }`

It will execute the function on that referen

[2018-05-23 09:18] cipriandrusca commented on #283
Thanks a lot! Actually works great! 👍 Have a nice day!

[2018-05-23 09:18] #283 closed, assigned to nobody

[2018-05-23 14:32] rmayuri commented on #248
@ramm24
thanks for your inputs,
my requirement is,
1. if we select the 'Add' value in drop down then request property to be added to the schema.
2. if we select the 'Remove' value in drop down then request property to be hidden from the schema.
its similar like if we click on check box email field is being shown and if we uncheck the checkbox the email field will disappear.
hope you got my point.

[2018-05-23 22:03] oreon opened #284 "Autocomplete example"
Is there a good example of autocomplete / typeahead ?

[2018-05-24 00:34] ramm24 commented on #248
@rmayuri
Use camelCase instead of PascalCase for defining properties
RequestAction > requestAction
or at least try to be consistent

You are not comparing values
`model.RequestAction='Add'` should be `model.RequestAction === 'Add'`

Same here
`!model.RequestAction==='Add'`
but this is wrong
If you have some value in model.RequestAction and you are doing `!model.RequestAction` you'll get `false` so

[2018-05-24 12:55] Mathijs003 commented on #11
With production on this still triggers twice using :  "angular2-json-schema-form": "^0.7.0-alpha.1"

@hk-skit can you provide an example or plunker? Can't seem to get your code working.

[2018-05-24 16:31] isharko commented on #280
You can do exactly that in the schema... Take a look at the "Deep Recursive References" example.
[code]

[2018-05-24 16:43] isharko opened #285 "Resolve external $ref links"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[x] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Current behavior
Errors out with "ERROR MissingRefError {message: "can't resolve reference https://raw.githubusercont…"}"

## Expected behavior
Pull external $ref schemas and co

[2018-05-25 10:38] neil-coutinho opened #286 "Can't bind to 'floatPlaceholder' since it isn't a known property of 'mat-form-field'."
## Issue type
I'm submitting a (check one):
[x] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x

[2018-05-26 02:13] mringer opened #287 "Data-only mode throws on init."
## Issue type
I'm submitting a (check one):
[x] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x

[2018-05-27 10:42] catull commented on #287
@mringer
The trick is to initialise `ajv` to be aware of draft6 of JSON schema.

Check out my repo [`angular2-json-schema-form-issue-287`](https://github.com/catull/angular2-json-schema-form-issue-287).

It does not run on StackBlitz yet: https://stackblitz.com/github/catull/angular2-json-schema-form-issue-287.

Locally, it starts up nicely.

This is the improvements I made.

1. Copied draft 6 of

[2018-05-28 09:26] Mathijs003 opened #288 "No event for getInputType error: Unable to determine input type for object"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[x] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Current behavior
When there is a type error in the json schema, angular2-json-schema-form logs the errors in the console and (isValid) is still true and there is no validationEr

[2018-05-29 08:45] 3c commented on #281
I have the same problem . because exports error component in xx.module.ts

[code]

I write a component named 'CheckboxListComponent'  , but spell wrong word  in exports . 'CheckBoxComponent' belongs to Material

After delete the wrong line code ,it's fine

[2018-05-29 10:32] neil-coutinho commented on #286
P.S The error can be removed by replacing floatPlaceholder with floatLabel

[2018-05-30 10:46] amithmahakala423 opened #289 "How can i override the CSS which is provides by angular2-json-schema-form"
How can i override the CSS which is provides by angular2-json-schema-form?

[2018-05-30 16:28] mringer commented on #287
@catull thanks for the tip, sounds like this is something that should be wrapped by a service and provided by the a2-jsf module when it bootstraps.

[2018-05-30 16:51] catull commented on #287
@mringer Either that, or there could be an initialisation hook that hands you an `ajv` instance and you can perform any action.

Something like this

[code]

You would implement the method in your component

[code]

[2018-05-30 17:12] mringer commented on #287
Sure, but this step really should be performed as part of the library's bootstrap, rather than having the library user perform additional configuration steps. Especially if it is something the library expects to perform it's baseline behavior.

[2018-05-30 22:45] catull commented on #287
@mringer I have around 20 schemata, most of them are independent. A few reference one of the other schemata.

All of them must be "spoon-fed" upfront to `ajv`, first all $ref-ed ones, then all the other ones.
Without the trick above, I get a lot of runtime errors about schema A not being known when $ref-ed from Schema B etc.

I do agree with you that all draft JSON schemata (v4, v5, v6, v7 and soo

[2018-05-31 00:01] mringer commented on #287
@catull super useful stuff. Thanks! I incorporated, your suggestion into my `angular2-json-schema-form` wrapper and it works like a charm. This underscores the need for unit testing in `angular2-json-schema-form`. I'm working on a PR for a TDD harness.

[2018-05-31 07:52] catull commented on #287
@mringer Allow me to suggest to switch to [ng-json-schema-form](https://github.com/shamoons/ng-json-schema-form), a fork by [Shamoon Siddiqui](https://github.com/shamoons)

He announced to carry on with `angular2-json-schema-form` [here](https://github.com/dschnelldavis/angular2-json-schema-form/issues/263#issuecomment-391005809).  In that issue, you will learn that `angular2-json-schema-form` is

[2018-05-31 17:00] sharanainapurapu opened #290 "listItems When set to 0, still renders 1 element by default"
## Issue type
I'm submitting a (check one):
[••] Bug report

## Prerequisites
Before posting, make sure you do the following (check all):
[ ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[ ] Search GitHub for a similar issue or PR
[ ] If submitting a Support request, also search [Stack Overflow][stack-overflow] for similar issues
Note: Please cro

[2018-05-31 18:28] mringer commented on #287
fair enough, thanks for the heads up.

[2018-06-14 13:05] hk-skit opened #293 "Support for ngFormOptions and ngModelOptions"
Currently we don't have any provision to add `ngFormOptions` and `ngModelOptions` to controls which got introduced with Angular 5 ([form updates](https://medium.com/codingthesmartway-com-blog/angular-5-forms-update-9587c3735cd3)). It would be really nice if we provide support for these options which will help us to enrich user experience especially in terms of validation.

**Proposed solution:**
F

[2018-06-14 13:53] Mathijs003 commented on #281
@neil-coutinho any progress on this error?

[2018-06-15 04:19] neil-coutinho commented on #281
@Mathijs003  No I simply commented out the duplicate import * as Ajv from 'ajv' statement as mentioned above

[2018-06-20 07:54] lixujia opened #294 "how to avoid mat-slider when setting both minimum and maximum?"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[x] Support request
[x] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2018-06-21 02:00] nijeshhirpara commented on #63
I want to achieve something similar functionality. @dschnelldavis  mentioned about 2-way data binding but it doesn't seem to be working.

My schema,

    {
    "eventCacheMemorySizeMB":` {
      "type": "string",
      "title": "The Eventcachememorysizemb Schema ",
      "default": "",
      "examples": [
        "4095"
      ]
     },
    }

In my layout, I have created a widget called message wh

[2018-06-28 14:18] hamzahamidi commented on #281
I made a PR to solve this issue. I hope it will get merged soon https://github.com/dschnelldavis/angular2-json-schema-form/pull/295

[2018-06-28 14:19] hamzahamidi commented on #286
PR to solve this issue. https://github.com/dschnelldavis/angular2-json-schema-form/pull/295

[2018-06-29 14:58] hamzahamidi commented on #281
For people who can't wait for this update to get merged here's a quick fix:
[code]
**You may need** to install @angular/flex manually:   ```$ npm i @angular/flex-layout```
Once this branch get merged, I'll delete the branch so it will not work anymore, in respect to the repo's owner

[2018-06-29 14:58] hamzahamidi commented on #286
For people who can't wait for this update to get merged here's a quick fix:
[code]
**You may need** to install @angular/flex manually:   ```$ npm i @angular/flex-layout```
Once this branch get merged, I'll delete the branch so it will not work anymore, in respect to the repo's owner

[2018-07-02 21:41] omicr0n opened #296 "Custom widget not returning data onchange or submit..."
Typing from my phone so cant fill out the form but im working on an ionic 3 angular project and using this library and its working good.  Im trying to make a custom widget copying the exact same template code from an existing component and just doing small change to it like setting a colored background so i know its working when the form renders.

So i can get the custom widget working importing i

[2018-07-04 13:03] viluon commented on #290
Can confirm, I need control over this behaviour so I'm tracking the bug down atm.

[2018-07-04 13:50] viluon commented on #290
The code responsible for the bug is [this part of `layout.functions.ts`](https://github.com/dschnelldavis/angular2-json-schema-form/blob/master/src/lib/src/shared/layout.functions.ts#L336-L338). In my tests, the second operand was `0` for arrays.
Why does the first operand evaluate to `1` instead of `0` though? Because of this:
![screenshot from 2018-07-04 15-30-47](https://user-images.githubuserc

[2018-07-04 14:00] sharanainapurapu commented on #290
Thank you for information, that helps.

[2018-07-06 03:50] omicr0n commented on #296
So issue was just myown problem being stupid. was using the form object to load scheme and layout but only passing the scheme into it and not both so without the layout being read with my 'type' my widget never fired....

[2018-07-06 03:50] #296 closed, assigned to nobody

[2018-07-09 11:56] emarkovskyi opened #297 "Custom validation of dependent fields"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[x ] Support request
[x?] Documentation issue or request

Is it possible to implement some custom validation rule for dependent fields?
so for example I want to check that some 'width' field  is greater than or equal to 'height' field
Th

[2018-07-10 11:17] MJperx opened #298 "Display material-table"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[x ] Documentation issue or request

Can someone help me to display material table?

[2018-07-10 11:41] #298 closed, assigned to nobody

[2018-07-12 09:34] neil-coutinho commented on #263
@shamoons After installing your package via npm (npm install ng-json-schema-form) there are alot of error when you load the module.
Running
CLI:  6.0.3
Node: 8.9.4
Angular: 6.0.2
Typescript: 2.7.2
Webpack 4.8.3

![screen shot 2018-07-12 at 2 59 30 pm](https://user-images.githubusercontent.com/33371261/42625191-beabf8ca-85e4-11e8-8634-fd2657bbb330.png)

[2018-07-12 10:33] trsh opened #299 "How can I get around this?"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[x ] Support request
[ ] Documentation issue or request

[code]

[2018-07-12 10:39] trsh commented on #299
Ouh https://github.com/dschnelldavis/angular2-json-schema-form/issues/281

[2018-07-12 10:39] #299 closed, assigned to nobody

[2018-07-12 11:08] trsh commented on #281
With this version Im getting other problems:

`core.js:1870 ERROR RangeError: Maximum call stack size exceeded
    at isNumber (angular2-json-schema-form.es5.js:213)
    at isEqual (angular2-json-schema-form.es5.js:6708)
    at isEqual (angular2-json-schema-form.es5.js:6712)
    at isEqual (angular2-json-schema-form.es5.js:6712)
    at isEqual (angular2-json-schema-form.es5.js:6712)
    at isEqual

[2018-07-12 11:17] trsh commented on #281
It's whenever I select non-first option for enum in dropdown :/

[2018-07-12 11:20] hamzahamidi commented on #281
@trsh I fixed that error in the last commit. I think I didn't update the bundles. I'll do it asap

[2018-07-12 11:22] trsh commented on #281
From bedugger
[code]

The last line creates an inf recursion :(

I dont understand. It's supposed to be a lodash  fn, but it's compiled like local

[2018-07-12 12:14] trsh opened #300 "Angular onChange issue"
## Issue type
I'm submitting a (check one):
[x ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Current behavior
onChanges is firing on every tick

## Expected behavior
Should fire when form is changes

[2018-07-12 12:17] trsh commented on #281
@hamzahamidi

another issue is https://github.com/dschnelldavis/angular2-json-schema-form/issues/300, but I can't tell if its your version or old issue, because I can't install not-your-version :D

[2018-07-12 12:26] hamzahamidi commented on #281
@trsh I can't seem to reproduce your issue did you try delete your package-lock.json & run:
[code]

[2018-07-12 12:34] trsh commented on #281
The first issue is fixed. Duno exactly how. I did a lot of things :). But now that isEqual appears as it should be, with WB wrapper.
The second is more an angular thing.

Tnx for your time.

[2018-07-12 12:35] trsh commented on #300
This is more an angular logic thing.

[2018-07-12 12:35] #300 closed, assigned to nobody

[2018-07-13 00:45] jscharett commented on #263
Not sure if this is the issue, but your using Angular 6.  I don't think @shamoons fork has been updated to support Angular 6 yet.

[2018-07-13 16:23] jscharett commented on #263
@shamoons Looking at the deployed package that's coming down for ng-json-schema-form, it looks like it may not be compiled correctly?  Its def different than the deployed package for this repo.  Any reason for that?

[2018-07-17 11:59] kacperdev opened #301 "Single item in array cause error while removing"
## Issue type
I'm submitting a (check one):
[X] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[X] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[X

[2018-07-19 16:57] shamoons commented on #263
I'll take a look this weekend

[2018-07-19 16:58] shamoons commented on #263
I enabled issues on https://github.com/shamoons/ng-json-schema-form

[2018-07-20 08:25] trsh opened #302 "Question about this project future"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ x] Support request
[ ] Documentation issue or request

@dschnelldavis any plans to continue work on this project. Or it's abandoned?

[2018-07-20 09:04] jakubjosef commented on #273
@Thorski ~~solution worked like a charm~~. EDIT: solution worked for build but forms are empty. Other solution also didn't work, so we had to hardcode bootstrap4 module directly to forRoot function inside our forked version of angular6-json-schema form.

But i personally more like @rhalff 's solution, but it doesn't work :(

[2018-07-20 09:08] PatrickSchuster commented on #157
Not sure if this is helpful to others, but I worked around this issue by simply omitting the affected `null` value contained in a form data.
My workaround looks something like this:
[code]
where a form data usually looks like this:
[code]

[2018-07-20 15:19] tmburnell opened #303 "Support and update for angular6"
I have a team using this tool, and they are upgrading to angular6.  And we noticed this has not had any updates since Feb.
Is this component still planned to be publicly supported?
Is there plans to migrate to Angular6?
Is there plans to update material versions?

[2018-07-23 08:42] EricsG95 commented on #244
Hi @RobArbor, I am interested to add clarity to my Angular project. However could you share with me how you can use Clarity seamlessly in your project? Did you just import the JS files and css files to the angular-cli json and import { ClarityModule } from '@clr/angular'? Is that all required to allow it run correctly along side with the existing BS 4 module of Json schema form? Thank you so much!

[2018-07-23 09:28] RobArbor commented on #244
Just follow the instructions of https://vmware.github.io/clarity/documentation/v0.12/get-started.
Like i said it will function only the layout is messed up but you can easily fix this with some custom CSS

Note that the latest version of clarity is Angular 6 and this project isn't yet compatible.
See: [#295 ](https://github.com/dschnelldavis/angular2-json-schema-form/pull/295)

I used the branch o

[2018-07-23 09:57] Koslun commented on #303
@tmburnell
Duplicate of at least issues #263 and #302. There is a PR with a working Angular 6 upgrade here: https://github.com/dschnelldavis/angular2-json-schema-form/pull/230#issuecomment-386837578. We've been using the NoFramework option for a little while now, Material version is too buggy in both this and prior versions while other frameworks would force us to load multiple CSS frameworks whic

[2018-07-23 10:16] EricsG95 commented on #281
Thank you for the PR @trsh! Hopefully it gets merged soon or the issues be rectified.

[2018-07-23 13:46] catull commented on #244
@RobArbor @EricsG95
My repo supports Angular 6+, and removed support for Material Design.
Not a clean solution, but it reduces the dependencies.

[2018-07-23 20:07] danielmhair commented on #273
@rhalff's solution seems to work for me, currently (still testing to ensure it is fully working), but I had to tweak his slightly:
[code]

As you see, I added the typing for `ModuleWithProviders`

[2018-07-23 22:54] rhalff commented on #273
@danielmhair yeah that's totally correct, I've updated the comment and removed the confusing part.

[2018-07-24 01:40] EricsG95 commented on #244
I see thank you so much @RobArbor and @catull, really apprecitae your advices! Now I am also considering ngx-formly, https://github.com/formly-js/ngx-formly as a solution and then add a converter from json-schema to ngx formly defined schema.

[2018-07-24 09:47] jakubjosef commented on #273
@danielmhair Your solution is working for you even with AOT compiler?
I still see this error if I try to use your solution.

[code]

Only working solution for us is to hardcode bootstrap4module directly to the code of forRoot function in module file.

btw. take a look here: https://github.com/hamzahamidi/Angular6-json-schema-form/issues/5

[2018-07-24 16:15] danielmhair commented on #273
Interesting. Well, I had a mix of libraries and applications. The libraries uses Angular 6's CLI, so it uses ng-packagr, which claims to be AOT-compliant, so I would say yes to `with AOT compiler`. The application isn't in AOT currently though.

I'm hoping that angular puts priority on this error -- its a very rough bug to deal with.

[2018-07-26 07:34] hamzahamidi commented on #244
You might want to try this version https://github.com/hamzahamidi/Angular6-json-schema-form
The import however changed, you import for example ```Bootstrap4FrameworkModule``` like this, note that you shouldn't import `JsonSchemaFormModule` :
[code]
And you use the component like the following:
[code]

[2018-07-26 13:30] cruizba commented on #302
+1

I am a bit confused with the future of this lib too @trsh. It's an amazing tool but i see like 3 or 4 forks and i don't know what will be the official one.

These are all the forks i see that probably will continue but i don't know:

[Angular6-json-schema-form](https://github.com/hamzahamidi/Angular6-json-schema-form)
[ng-json-schema-form](https://github.com/shamoons/ng-json-schema-form)
[ngx-

[2018-07-26 13:42] hamzahamidi commented on #302
We're using this library in our applications & just recently we updated some of them to Angular v6 which caused a build failure thus the creation of  [Angular6-json-schema-form](https://github.com/hamzahamidi/Angular6-json-schema-form) which is compatible with AOT.

[2018-08-06 16:52] hamzahamidi commented on #303
@tmburnell You can use [Angular6-json-schema-form](https://github.com/hamzahamidi/Angular6-json-schema-form) which is compatible with **Angular v6**

[2018-08-07 12:23] tmburnell commented on #303
@hamzahamidi is the link you sent a copy of this repo but you have updated to angular6 for yourself?

[2018-08-08 08:14] j2L4e commented on #302
There's also this fork https://github.com/rhalff/angular2-json-schema-form/tree/angular-6 by @rhalff. I'd love to see everyone having a working fork join efforts

[2018-08-09 06:37] catull commented on #302
I have two points to criticize.

1. The name, it focuses on Angular **6** support exclusively.
    Angular 6 is going to be "victim" of its own cadence.
   Twice a year, Angular Team releases a new major release.
   Thus next year the main version is 8.x.
   Imagine you are going to grow the project, and add support for version 7, 8, 9 etc.
   Will you crank out new projects named AngularN-json-sc

[2018-08-09 08:37] j2L4e commented on #302
The name should indeed be `ngx-json-schema-form`

re your second point:

the readme states `Note: This project is a continuation to dschnelldavis/Angular2-json-schema-form & is and is not affiliated with any organization` in the very first line. I don't see @hamzahamidi taking credit here.
it should be easy to rebase the changes onto a proper fork, though.

---

re needed refactoring:

- core func

[2018-08-09 10:08] hamzahamidi commented on #303
@tmburnell It's a continuation to this repository but using angular-cli v6 new generate library option.
The import changed however, for example to use Bootstrap4:
[code]
And you use the component like the following:
[code]
If you still face the same issue, can you make a repository to reproduce this issue?

[2018-08-13 13:49] AbhishekBorkar04 opened #305 "how to set css in tabarray"
i am using angularjsonform tabarray .
![image](https://user-images.githubusercontent.com/30266516/44035520-547052fa-9f2d-11e8-99a8-2b1bec6b0b9b.png)
Json for above example is
{
  "schema": {
  	"friends": {
      "type": "array",
      "items": {
        "type": "object",
        "title": "Friend",
        "properties": {
          "nick": {
            "type": "string",
            "title": "Nick

[2018-08-15 07:23] trsh opened #307 "Problems with nested requirements"
## Issue type
I'm submitting a (check one):
[ x] Bug report
[x ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)

[2018-08-15 07:36] trsh commented on #307
@dschnelldavis any plans to continue work on this Great project?

[2018-08-20 10:30] trsh commented on #302
I do not get the conclusion of this discussion :(

[2018-08-20 11:16] trsh commented on #302
@dschnelldavis with all respect, I do not know what going an in your life, but it's always time to drop few words :/

[2018-08-29 19:08] kiranjholla commented on #273
Same issue as reported by @jakubjosef . Tried the solution posted by @rhalff and @danielmhair. But I still get the error when building with AOT.
[code]

[2018-08-29 21:42] jakubjosef commented on #273
@kiranjholla Forked version I mentioned in previous post works.

[2018-09-10 15:05] stretau commented on #248
@ramm24 if I use your last comment in a .json File

[code]
then this is invalid json. How could I escape this?

[code]
Thx in advance, Best regards

[2018-09-13 07:04] ramm24 commented on #248
@stretau you will need to recursively look into your json and add a reference to a function.

Your Json could be have something like this.
[code]
then just look for it using a recursive function and replace the "functionName" with the actual function reference.

[code]

[2018-09-19 17:06] narthur157 commented on #273
I forked a version isolating the issue by just turning on aot for the demo. It's definitely AOT. https://github.com/narthur157/angular2-json-schema-form

A real fix for this would be great

[2018-09-19 17:07] narthur157 commented on #273
This did not work for me (see this commit where I tried in my fork)
https://github.com/narthur157/angular2-json-schema-form/commit/d5a6a2ed834bd68c3931fd7644ee3dcd6740bea8

[2018-09-21 10:23] skeely1234 commented on #189
@viktor25  Thank you very much.   It works.

[2018-10-02 13:59] stretau commented on #300
@trsh what did you meant with this? Is there any opportunity to listen on real changes of the form (only if inputs are really changed?)

[2018-10-02 14:19] trsh commented on #300
@stretau

I don't remember exactly, but I had a recursion thing going on. Sorry.

[2018-10-03 12:12] neil-coutinho opened #310 "Support for custom locale validation messages"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[x] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[x] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[x

[2018-10-07 15:11] imfeng commented on #173
@VirusDEAD
I got these from the source code.

@rhalff
Specific Example:
I test it with Bootstrap 4.Using different UI frameworks will have different results
[code]

[2018-10-10 13:13] Wolfium commented on #238
That would be really great to have autocomplete with material design as we use material framework in the application

[2018-10-11 20:01] hoon-k commented on #37
This console error problem can be alleviated if you hide the form until you have the schema to set.  Something like this:
[code]

[2018-10-16 05:32] shantanu2010 opened #311 "How can I have tabs enabled on condition in angular tab array"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[.] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2018-10-26 12:36] trsh opened #312 "Can I declare a password field?"
Could not find any leads!

[2018-10-26 14:18] trsh commented on #312
Via form layout!

[2018-10-26 14:18] #312 closed, assigned to nobody

[2018-10-30 07:15] suchetaswabhav commented on #217
Check these references out -

https://stackblitz.com/edit/angular-pujraw?file=src%2Fapp%2Fapp.component.ts

https://stackblitz.com/edit/angular-47yztq?file=src/app/hello.component.ts

https://stackblitz.com/edit/angular-3hampn?file=src%2Fapp%2Fapp.component.ts

[2018-11-15 23:55] guntisravani opened #313 "Unable to import external module: Clarity Module"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[X] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2018-12-06 11:14] RS-Roshi opened #314 "resolve external $ref"
[code]

[2019-01-24 17:38] angelcuenca opened #315 "Options object in Angular Schema Form"
I need a field textarea according to the documentation it's adding an options attribute:

html

`<json-schema-form [schema]="schema" [options]="schemaFormOptions"></json-schema-form>`

options:

[code]
json schema:
[code]
After loading the form, an input instead of textarea field is generated for Description.

[2019-02-17 15:30] Liahus1996 opened #316 "Create custom validations for Date field"
Is it possible to have custom validation for date field (such as format) and make the form invalid in case of value not matching the format. I believe the schema form returns invalid when AJV supported keywords validation triggers but when custom validation is added, even when the custom validation returns true the form remains valid. Is there a way to handle this ?

[2019-02-26 14:11] PraveenBiradar opened #317 "Data type for decimal number"
"properties":{
        "Voltage":{
              "type":"?"
         }
}

Where ? =>  Decimal number

[2019-02-28 14:08] PraveenBiradar opened #318 "Tab Array---Angular Schema Form examples"
In Ionic App ,I am facing below problems..Please help to solve these

1) Without filling all required fields,on click of Sumbit is calling (onSubmit)="onSubmit($event)" method,but the same json in https://angular2-json-schema-form.firebaseapp.com/ it is working correctly i.e it is not calling OnSubmit() until all required fields are filled and its highlihting unfilled fields in red color and star

[2019-02-28 20:45] zardilior opened #319 "Npm version install cannot find three modules"
## Issue type
I'm submitting a (check one):
[X ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ X ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)

[2019-03-04 13:04] PraveenBiradar commented on #318
Please,

do reply

[2019-03-18 07:23] PraveenBiradar opened #320 "can we make a field as read only?"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[ ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[ ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[

[2019-03-28 13:37] akvaliya commented on #157
Any progress in this issue?

[2019-04-13 16:35] GonziHere commented on #152
problem is here:
[code]
because this function assumes that value is object, not null. There isn't any typecheck before `Object.keys(value)` is called.

[2019-04-13 16:36] GonziHere commented on #157
problem is here:
[code]
because this function assumes that value is object, not null. There isn't any typecheck before `Object.keys(value)` is called.

[2019-05-08 15:15] MiSTERSPOONS commented on #153
Could you give an example? Currently I've set `remove: null` and still seeing the button.

[2019-06-27 13:00] rdgoutiyama opened #321 "How change mat checkbox to mat-slide-toggle?"
## Issue type
I'm submitting a (check one):
[ ] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[x ] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[x ] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)

[2019-08-20 06:25] sndpinsa1 commented on #222
please tell the update,we need to do this urgently

[2019-09-04 17:24] karthikchintala64 commented on #188
I am facing the same issue

[2019-12-13 05:13] shangzhouwan commented on #301
This will work fine:
`{
  "schema": {
    "title": "Comment",
    "type": "object",
    "required": [ "comments" ],
    "properties": {
      "comments": {
        "type": "array",
        "maxItems": 2,
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "title": "Name",
              "type": "string"
            }
          },
          "r

[2019-12-20 08:15] shangzhouwan commented on #290
Have you solved the problem？
I have the same issue，too。

[2019-12-20 15:45] viluon commented on #290
No, we moved away from `angular2-json-schema-form` and rolled our own solution from scratch instead due to numerous issues with the library.

[2020-02-14 22:54] rhalff opened #322 "Angular 9/8/6/5 branches"
In case it's useful for anyone needing to support this library on newer versions of angular I have several branches here which try to keep up with the latest angular version:

https://github.com/rhalff/angular2-json-schema-form

There are no functional changes, the latest version have been re-arranged a bit though.
The versions have not been published to npm. You can just fork it and then point to

[2020-02-19 13:26] hackintoshsa commented on #273
Hi All I keep getting this error when i try to build in prod

I'm Using Material Design instead of Bootstrap As UI

ERROR in Error during template compile of 'MaterialDesign'
  Function calls are not supported in decorators but 'JsonSchemaFormModule' was called.

[2020-03-03 11:27] neil-coutinho opened #323 "Nested Arrays getControl error: Unable to find "0" item in FormGroup."
## Issue type
I'm submitting a (check one):
[X] Bug report
[ ] Feature request
[ ] Regression (something that used to work, but stopped working in a newer version)
[X] Support request
[ ] Documentation issue or request

## Prerequisites
Before posting, make sure you do the following (check all):
[X] Confirm you are using the latest versions of all necessary packages (or if not, explain why not)
[X

[2020-04-22 02:20] vijayanandkhedkar commented on #225
Hi,
Could you please tell me exactly how would I know if the ajv is initiated? And should I integrate the
 ajv.addMetaSchema(require('ajv/lib/refs/json-schema-draft-06.json'));
the command in some typescript/javascript file, if yes, could you please tell me the name where I can execute this command?

Thanks,

[2020-07-27 16:10] vikramlc commented on #184
Facing the same issue in **angular6-json-schema-form** as well. Is there an update on this?

[2020-08-19 03:18] jmpereztorres commented on #184
I am also facing it and trying to find a workaround.

[2020-08-19 05:16] jmpereztorres commented on #184
In the end I disabled the two-binding and create a 'fake' onSubmit from the parent component through 'ViewChild' to copy the value to the parent component attribute manually.

I execute the onSubmit function in a custom button before other operations.

I don't know how efficient is it because I am an angular newbie but it works :)

[2020-09-27 14:11] #81 closed

[2022-02-11 09:47] lohrun commented on #248
For a very similar need, I encountered the same issue. The JSON parser does not like the inline javascript function as suggested in @ramm24 first answer. However, using the following object syntax, it is possible to embed the function's body into a string and have the form engine correctly interpret the information.
[code]

[2022-05-09 16:02] thoussem opened #324 "Nested array form issue"
* [x] MaterialDesignFrameworkModule — Material Design
* [ ] Bootstrap3FrameworkModule — Bootstrap 3
* [ ] Bootstrap4FrameworkModule — Bootstrap 4
* [x] NoFrameworkModule — plain HTML
* [ ] Other (please specify below)

The array items of the second lavel (nested arrays second lavel) are not visible.

**To Reproduce**
Use this schema:
[code]

In the data section:
[code]
I have 2 service paths "url1